%h2 following tweets are found containing #ag hashtag & published
- if @tweets.count == 0
  No Tweets Found
-else 
  - @tweets.each do |t|
    %p= t.text
%br
= link_to "Fetch & Publish again", fetch_n_publish_path
%br
= link_to "Go back", root_path, :notice => "Done updating ?"
