%h2 following tweets are found containing #ag hashtag & published
- if (@tweet.nil?)
  No Tweets Found
-else 
  %p= t.text
%br
= link_to "Fetch & Publish again", fetch_n_publish_path
%br
= link_to "Go back", root_path, :notice => "Done updating ?"
